@font-face {
  font-family: sabo;
  src: url(dir/resources/fonts/sabo.otf);
}
@font-face {
  font-family: goodtimes;
  src: url(dir/resources/fonts/goodtimes.otf);
}
@font-face {
  font-family: fyodor;
  src: url(dir/resources/fonts/fyodor.ttf);
}

@font-face {
  font-family: bit;
  src: url(dir/resources/fonts/bit.TTF);
}

div.p {
  line-height: 0.1;
}

body {
  text-align: center;
  background-color: black;
  border: 15px solid red;
  height: 180px;
  }
  
  h1 {
    color: red;
    font-family: sabo;
    font-size: 80px;
    font-variant: small-caps;
    text-align: center;
  }

  h2 {
    color: red;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    text-decoration: none
  }
  
  h3 {
      color: darkred;
      font-size: 20px;
      text-align: center;
      font-family: bit;
  }

  hr.rojo {
    border: 8px solid red;
  }

  a {
    color: red;
    font-family: bit;
    text-align: center;
    font-size: 40px;
    text-decoration: none
  }

  audio {
    align-content: center;
  }
