@font-face {
  font-family: sabo;
  src: url(dir/resources/fonts/sabo.otf);
}
@font-face {
  font-family: goodtimes;
  src: url(dir/resources/fonts/goodtimes.otf);
}
@font-face {
  font-family: fyodor;
  src: url(dir/resources/fonts/fyodor.ttf);
}

@font-face {
  font-family: bit;
  src: url(dir/resources/fonts/bit.TTF);
}

@font-face {
  font-family: readable;
  src: url(dir/resources/fonts/readable.ttf);
}

.centerdiv{
  margin: auto;
  width: 50%;

}
.redcontainerdiv{
  border: 15px solid red;
  padding-top: 10px;
}
.tmenu{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.selector {
  border-color: aliceblue 1px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}

.separator{
  border-color: aliceblue 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: darkred;
  font-size: xx-large;
}

body {
  text-align: center;
  background-color: black;
  height: 180px;
  }
  
  h1 {
    color: red;
    font-family: sabo;
    font-size: 80px;
    font-variant: small-caps;
    text-align: center;
  }

  h2 {
    color: red;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    text-decoration: none
  }
  
  h3 {
      color: darkred;
      font-size: 20px;
      text-align: center;
      font-family: bit;
  }

  h4{
    color: blue;
      font-size: 25px;
      text-align: center;
      font-family: readable;
  }

  hr.rojo {
    border: 8px solid red;
    width: 90%;
  }

  a {
    color: red;
    font-family: bit;
    text-align: center;
    font-size: 40px;
    text-decoration: none
  }

  audio {
    align-content: center;
  }

  /*ANIMATIONS*/
  .selector:hover{
    transition: 0.3s;
    transform: scale(1.1,1.1);
  }