@font-face {
  font-family: sabo;
  src: url(dir/resources/fonts/sabo.otf);
}
@font-face {
  font-family: goodtimes;
  src: url(dir/resources/fonts/goodtimes.otf);
}
@font-face {
  font-family: fyodor;
  src: url(dir/resources/fonts/fyodor.ttf);
}

body {
    background-color: black;
  }
  
  h1 {
    color: red;
    font-family: sabo;
    font-size: 80px;
    font-variant: small-caps;
    text-align: center;
  }

  h2 {
    color: red;
    font-size: 50px;
    text-align: center;
    font-family: goodtimes;
    text-decoration: none;
  }
  
  h3 {
      color: darkred;
      font-size: 20px;
      text-align: center;
      font-family: fyodor;
  }
